body {
	margin: 0px;
	background-color: lightblue;
}

.wEditor {
	position: relative;
	margin: auto;
	margin-top: 10%;
	height: 300px;
	width: 500px;
	border: 1px solid #DDD;
	resize: both;
	overflow: auto;
}

.wMenu {
	position: relative;
	width: 100%;
	height: 2em;
	background-color: #F6F6F6;
	border-bottom: 1px solid #DDD;
}

.wContent {
	position: relative;
	width: 100%;
	height: calc(100% - 33px);
	background-color: #FFF;
	overflow-y: auto;
	font-family: Arial;
	line-height: 1.5;
}

.wContent:focus {
	outline: none;
}

.wMenu button {
	outline: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: .5em 1em .5em 1em;
	margin-left: 2px;
	border: none;
	font-family: "Times New Roman", Times, serif;
	background-color: #F6F6F6;
}

.wMenu button:hover {
	background-color: #F0F0F0;
}

.active {
	background-color: #E5E5E5 !important;
}